/*MEDIA QUERIES*/
/*
xs - non scendete sotto i 550px, fino a 600px incluso
s - 601px - 767px
m - 768px - 1199px
l - 1200 in su
*/
/*MEDIA S 601PX - 767PX*/
@media screen and (min-width:601px) {
     /* sidebar top , cambio logo */
    .logo .f-p {
       display: none;
    }
    .logo .f-g {
       visibility: visible;
       width: 150px;
       margin: 20px;
    }
    /*NAV SOPRA IMMAGINI*/
    .Lista-menu li {
        flex-basis: calc(100% / 3);
        padding: 5px;   
    }
    .nav-box::after {
        content: "";
        display: table;
        clear: both;
    }
    .nav-home {
        float: left;
        width: 40%;
    }
    .nav-text li {
        list-style: none;
        margin-top: 22px;
        font-size:12px;
    }
    .nav-text.hidden {
        visibility: visible;
    }
    .nav-text {
        float: left;
        width: 50%;
    }
    .playlist.hidden {
        visibility: visible;
        margin: 15px 10px;
    }
    .nav-playlist li {
        margin: 0 5px;
        font-size: 10px;
        color: #a3a3a3;
        padding: 15px;
        list-style: none;
    }
    .nav-playlist li i {
        color: #a3a3a3;
        font-size: 40px;
        margin-right: 5px;
    }
    /*account*/
    .p-hidden {
        visibility: visible;
    }
    .hr.hidden {
        visibility: visible;
        width: 90%;
        margin: 5px auto;
        border-radius: 20px;
    }
    .installa-app {
        display: flex;
        width: 20px;
        margin-left: 10px;
    }
    .installa-app p {
        font-weight: 200;
        font-size: 10px;
        margin-left: 5px;
    }
    .account {
        display: flex;
        width: 25px;
        margin-left: 10px;
    }
    .account p {
        font-weight: 200;
        font-size: 10px;
        margin-left: 5px;;
    }
}
/****MEDIA M - 768px - 1199px*****/
@media screen and (min-width:767px) {
    /*NAV SOPRA IMMAGINI*/
    .lista-menu li {
        flex-basis: calc(100% / 5);
        padding: 5px;   
    }
    /*IMMAGINI CANZONI*/
    .albums-liste .song {
        flex-basis: calc(100% / 4 - 15px);
    }
    .love {
        display: flex;
        align-items: center;
    }
    .love li {
        margin: 8px;
    }
    /*BARRA DELLO SCORRIMENTO*/
    .music-play li:nth-child(2) {
        width: 250px;
    }
    /*BARRA DI SCORRIMENTO*/
    .bar-2 {
        left: 9%;
    }
}
/******  MEDIA L - 1200 IN SU'*******/
@media screen and (min-width:1200px) {
    /*NAV SOPRA IMMAGINI*/
     .lista-menu li {
         flex-basis: calc(100% / 6);
     }
    /*IMMAGINI CANZONI*/
    .albums-liste .song {
        flex-basis: calc(100% / 6 - 15px);
    }
    /*MUSICA SOTTO*/
    .play ul {
        font-size: 10px;
    }
    .play-center i {
        font-size: 20px;
    }
    .music-play li:nth-child(2) {
        width: 400px;
    }
    .audio-icons {
        margin-right: 10px;
    }
    .audio-icons li {
        margin: 10px;
        font-size: 10px;
    }
    .audio-icons li:last-child {
        width: 100px;
    }
    /*BARRA DI SCORRIMENTO*/
    .bar-2 {
        left: 6%;
     }
   
}
