/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #000;
}
/* MAIN CONTENT   */
.main-page {
    height: calc(100vh - 100px);
    display: flex;
}
/*  SIDEBAR  */
.sidebar {
    flex-basis: 50px;
    background: #000;
}
/* SIDEBAR-TOP */
.sidebar-top {
    height: calc(100% - 80px);
}
.logo {
    width: 40%;
    margin: 10px auto;
}
/* nav home  */
.nav-home li {
    width: 40%;
    margin: 0 auto;
    list-style: none;
}
/* nav playlist */
.nav-playlist li {
    margin: 0 auto;
}
.nav-playlist.hidden li {
    visibility: hidden;
}
/*  SIDEBAR-BOTTOM  */
.sidebar-bottom {
    height: 80px;
}
.installa-app,
.account {
   width: 50%;
   margin: 0 auto 10px;
}
.account img {
    background: rgb(109, 108, 108);
    border-radius: 50%;
    overflow: hidden;
}



/*  CONTENT / */
.content {
    flex-grow: 1; /*cosi prende tutta la oarte mancante della pagina*/
    background: #141922;
}

/*FOOTER / MENU RAPIDO*/
.menu-rapido {
    height: 100px;
    background: rgb(38, 38, 38);
}