/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #000;
}

/* MAIN CONTENT   */
.main-page {
    height: calc(100vh - 100px);
    display: flex;
}
/*  SIDEBAR  */
.sidebar {
    flex-basis: 150px;
    background: #000;
}
/* SIDEBAR-TOP */
.sidebar-top {
    height: calc(100% - 110px);
}
.logo .f-p {
    width: 35px;
    margin: 10px;
}
.logo .f-g {
    visibility: hidden;
}
/* nav home  */
.nav-home li {
    width: 35px;
    margin: 0 auto;
    list-style: none;
}
/*nav-text-hidden s*/
.nav-text.hidden {
    visibility: hidden;
}
/* nav playlist */
.nav-playlist li {
    margin: 0 auto;
}
.playlist.hidden {
    visibility: hidden;
}
/*  SIDEBAR-BOTTOM  */
.p-hidden {
    visibility: hidden;
}
.sidebar-bottom {
    height: 110px;
}
.hr.hidden {
    visibility: hidden;
}
.installa-app {
    width: 20px;
    margin: 0 auto 10px;
}
.account {
    width: 30px;
    margin: 0 auto 10px;
}
.account img {
    background: rgb(109, 108, 108);
    border-radius: 50px;
}

/*  CONTENT / */
.content {
    position: relative;
    flex-grow: 1; /*cosi prende tutta la parte mancante della pagina*/
    background: #141922;
}
.content-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(8, 11, 18, 0.5);
}
.upgrade {
    position:absolute;
    top: 0;
    left: 50%;
    width: 40%;
    padding: 10px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 50px;
}
.upgrade h5 {
    text-align: center;
    font-size: 12px;
}
.content .zona-scrollo {
    padding: 80px 15px 0;
    height: 100%;
    overflow-y: auto;
}
.content-menu {
    font-size: 12px;
}
.lista-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: #74767b;
    font-weight: 600;
    margin: 10px;
}
.lista-menu li {
    flex-basis: calc(100% / 4);
    padding: 5px;
}
/*sezione delle categorie*/
.content-categorie h2 {
    margin: 10px;
}
.content-categorie h3 {
    font-size: 12px;
}
.content-categorie h6 {
    color: #65676d;
    padding: 10px;
}
.albums-liste {
    display: flex;
    flex-wrap: wrap; /*per andare a capo*/
    list-style: none;
}
.albums-liste .song {
    flex-basis: calc(100% / 2 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
}
.content-categorie .circle {
    border-radius: 100px;
}
.song img  {
    width: 100%;
}
.song {
    text-align: center;
}
.song h3 {
    font-size: 14px;
    margin: 10px;
}
.song h4 {
    font-size: 12px;
    color: #5d6166;
}
.nav-home  {
   

}
/*FOOTER / MENU RAPIDO*/
.menu-rapido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: rgb(38, 38, 38);
}
.menu-rapido img {
    width: 40px;
    margin: 10px 10px;
}
.footer-left {
    display: flex;
    align-items: center;
}
.footer-left .nome {
    list-style: none;
    color: #6c6c6c;
}
.footer-left .nome li:first-child {
    color: #fff;
}
.footer-left .text {
    font-size: 12px;
    color: #6c6c6c;
}
.love {
    margin-left: 15px;
    list-style-type: none;
    color: #6c6c6c;
}
.play {
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-left li {
    display: inline-block;
    list-style:none;
    margin: 7px;   
}
.play-center li {
    display: inline-block;
    list-style: none;
    margin: 7px;
}
.play-center i {
    font-size: 30px;
}
/*barra music sotto */
.barra-music {
    display: flex;
    align-items: center;
}
.music-play {
    display: flex;
    align-items: center;
}
.music-play li {
    list-style: none;
    margin: 5px;
    font-size: 10px;
}
.music-play li:nth-child(2) {
    width: 120px;
    height: 3px;
    background: #525252;
    border-radius: 30px;
}

.play-right li {
    display: inline-block;
    list-style: none;
    margin: 7px;
}
/*footer right*/
.audio-icons {
    display: flex;
    align-items: center;
}
.audio-icons li {
    list-style: none;
    margin: 5px;
    font-size: 12px;
}
.audio-icons li:last-child {
    width: 80px;
    height: 3px;
    background: #525252;
    border-radius: 20px;
}